

.Show .ClickButton{

    background-image:none;
    width:100%;
    height:100%;
    position:absolute;
    cursor: default;
    z-index:99999;
    animation: none;
    position:absolute;
    top:0px;
    background-color: transparent;

}

.Show .ClickButton p{

    opacity: 0;

}


.Show .Showing{

    display:flex;

}

.Show .BoldButton{

    display:flex;

}

.Show .NextButton {

    display: flex;

}

